/*
 * 设置全局的背景颜色和内边距
 * Set gloable background color and padding
 */

 body.gloable {
     background-color: rgb(51,51,51);
     padding: 4px;
     line-height : 150%;
     color: rgb(145,145,145);
 }

 body.gloable img {
     max-width: 100%;
     height: auto;
     width: auto\9;
 }

